@model MateriasPrimasApp.Models.Derivado

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Editar Derivado
                </div>
            </div>
            <div class="portlet-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ProductoOrigenId" class="control-label"></label>
                                    <select asp-for="ProductoOrigenId" class="form-control" asp-items="ViewBag.ProductoOrigenId"></select>
                                    <span asp-validation-for="ProductoOrigenId" class="text-danger"></span>
                                </div>
                            <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Codigo" class="control-label"></label>
                                    <input asp-for="Codigo" class="form-control" />
                                    <span asp-validation-for="Codigo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label"></label>
                                    <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UnidadId" class="control-label"></label>
                                    <select asp-for="UnidadId" class="form-control" asp-items="ViewBag.UnidadId"></select>
                                    <span asp-validation-for="UnidadId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoriaId" class="control-label"></label>
                                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoId" class="control-label"></label>
                                    <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                                    <span asp-validation-for="TipoId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioVentaMn" class="control-label"></label>
                                    <input asp-for="PrecioVentaMn" class="form-control" />
                                    <span asp-validation-for="PrecioVentaMn" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioVentaMlc" class="control-label"></label>
                                    <input asp-for="PrecioVentaMlc" class="form-control" />
                                    <span asp-validation-for="PrecioVentaMlc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioCompraMn" class="control-label"></label>
                                    <input asp-for="PrecioCompraMn" class="form-control" />
                                    <span asp-validation-for="PrecioCompraMn" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioCompraMlc" class="control-label"></label>
                                    <input asp-for="PrecioCompraMlc" class="form-control" />
                                    <span asp-validation-for="PrecioCompraMlc" class="text-danger"></span>
                                </div>
                              <div class="text-center">
                                  <a asp-action="Index" class="btn btn-info">Atrás</a>
                                  <input type="submit" value="Editar" class="btn yellow" />

                              </div>
</form>
</div>
</div>
</div>
<div class="col-md-2"></div>
</div>

<div>
    
</div>

