@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario Bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Este usuario esta bloqueado. Por favor, consulte con su Administrador</p>
</header>
