@model MateriasPrimasApp.Models.Entrada
    <a class="btn btn-primary pull-right btn-sm" data-toggle="modal" href="#draggable"><i class="fa fa-plus-square"></i></a>
    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"><option value="">Seleccione</option></select>

