@model MateriasPrimaApp.Models.UnidadDeMedida

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Backend.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus-square"></i>Crear UnidadDeMedida
                </div>
            </div>
            <div class="portlet-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Unidad" class="control-label"></label>
                                        <input asp-for="Unidad" class="form-control" />
                                        <span asp-validation-for="Unidad" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Descripcion" class="control-label"></label>
                                        <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                                    </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
