@model MateriasPrimaApp.Models.Traslado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Backend.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus-square"></i>Crear Traslado
                </div>
            </div>
            <div class="portlet-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Fecha" class="control-label"></label>
                                        <input asp-for="Fecha" class="form-control" />
                                        <span asp-validation-for="Fecha" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="OrigenId" class="control-label">Origen</label>
                                        <select asp-for="OrigenId" class="form-control" asp-items="ViewBag.OrigenId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DestinoId" class="control-label">Destino</label>
                                        <select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId"></select>
                                    </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div>
</div>

