@model MateriasPrimasApp.ViewModels.UserEditViewModel
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Editar usuario: @ViewBag.Usuario</h2>
        <hr />
        <form asp-action="EditarUsuario">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Rol</label>
                <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadOrganizativaId" class="control-label"></label>
                <select asp-for="UnidadOrganizativaId" asp-items="ViewBag.UnidadOrganizativaId" class="form-control chosen-select"><option value=""></option><option value=""> </option></select>
                <span asp-validation-for="UnidadOrganizativaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Usuarios" class="btn btn-default">Atrás</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}