@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="ExistenciasPorUeb" class="form-horizontal" asp-method="post">
            
            <div class="form-group">
                <label>Seleccione UEB</label>
                <select name="Id" class="form-control" asp-items="@ViewBag.UebId">Seleccione UEB</select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Generar reporte" />
            </div>
        </form>
    </div>
</div>

