@model MateriasPrimasApp.ViewModels.FiltroReporteTransferenciaViewModel
@{
    ViewData["Title"] = "Reporte de Transferencias";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus-square"></i>Reporte de Transferencias
                </div>
            </div>
            <div class="portlet-body">
                <h4>Filtrar por:</h4>
                <hr />

                <form asp-action="Transferencias" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label>Desde</label>
                        <input asp-for="FechaInicio" class="form-control" />
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label>Hasta</label>
                        <input asp-for="FechaFin" class="form-control" />
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label>Origen</label>
                        <select asp-for="OrigenId" id="origen" data-placeholder="Seleccione" class="form-control chosen-select" asp-items="@ViewBag.OrigenId"><option value=""></option></select>
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2" id="destino">
                        <label>Destino</label>
                        <select asp-for="DestinoId" data-placeholder="Seleccione" class="form-control chosen-select" asp-items="@ViewBag.DestinoId"><option value=""></option></select>
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <label>Producto</label>
                        <select asp-for="ProductoId" data-placeholder="Seleccione" class="form-control chosen-select" asp-items="@ViewBag.ProductoId"><option value=""></option></select>
                    </div>
                    <br />
                    <br />
                    <div class="form-group text-center">
                        <br />
                        <input type="submit" class="btn btn-success" value="Generar Reporte" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#Reportes').removeClass("active");
            $('#trans').addClass("active");

            $('#origen').on("change", function () {
                var id = $('#origen').val();
                $('#destino').load("/transferencias/origen/" + id, function () {
                    $('.chosen-select').chosen();
                });
            });
        });
    </script>

}
