@model MateriasPrimasApp.Models.Entrada

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Backend.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i> Nueva Entrada
                </div>

            </div>
            <div class="portlet-body" style="height: auto;">
                <br />
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <input asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" id="result">
                        <label asp-for="ClienteId" class="control-label col-md-3">Cliente</label>
                        <div class="col-md-7">
                            <select asp-for="ClienteId" class="form-control input-inline input-medium chosen-select" asp-items="ViewBag.ClienteId"></select>
                            <span class="help-inline">
                                <a class="btn btn-success btn-sm hint--top" aria-label="Agregar nuevo Cliente" data-toggle="modal" href="#draggable"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="UnidadOrganizativaId" type="hidden" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<div class="modal fade" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center">Agregar Cliente</h4>
            </div>
            <form asp-controller="Clientes" asp-action="NuevoCliente" class="form form-horizontal" data-ajax="true" dat-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result" data-ajax-success="onSuccess" data-ajax-failure="onFailed" id="nuevo_cliente_form">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div id="error_msg" class="alert alert-danger" style="display:none">
                                <i class="close icon error_close"></i>
                                <h4>
                                    Hay errores en el formulario
                                </h4>
                                <ul class="errors"></ul>
                            </div>
                            <div class="form-group">
                                <label for="codigo">Código</label>
                                <input type="text" name="Codigo" id="codigo" class="form-control" placeholder="Código" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="Nombre" id="nombre" class="form-control" placeholder="Nombre" />
                            </div>
                            <div class="form-group">
                                <label for="organismo">Organismo</label>
                                <input type="text" name="organismo" id="organismo" class="form-control" placeholder="Organismo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="submit" id="nuevoClienteSubmit" class="btn btn-success" value="Agregar" />
                    </div>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var onSuccess = function (context) {
            $('.modal').modal('hide');
            $('#nuevo_cliente_form').trigger('reset');
            $('.chosen-select').chosen();
        };
        var onFailed = function (context) {
            var errors = context.responseJSON
            var s = ""
            $.each(errors, function (index, value) {
                s += "<li>" + value + "</li>";
            });
            $('#error_msg').show(250);
            $('.errors').html($.parseHTML(s));
        };
        $('.alert .close')
            .on('click', function () {
                $('#error_msg').hide("350");
            });      
    </script>
}

