<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul id="navbar" class="nav navbar-nav text-uppercase">
        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="fa fa-users"></span> Seguridad
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li id="Seguridad"><a asp-action="Usuarios" asp-controller="Seguridad">Usuarios</a></li>
            </ul>
        </li>
    </ul>
</div>