<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul id="navbar" class="nav navbar-nav text-uppercase">

        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="fa fa-line-chart fa-3x"></span> Reportes
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li><a href="inner.html">Marketplace</a></li>
            </ul>
        </li>
        <li id="operaciones" class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="fa fa-steam"></span> Operaciones
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li id="Entradas"><a asp-action="TodasLasEntradas" asp-controller="Entradas">Entradas</a></li>
                <li id="Transferencias"><a asp-action="TodasLasTransferencias" asp-controller="Transferencias">Transferencias</a></li>
                <li id="Ventas"><a asp-action="Index" asp-controller="Ventas">Ventas</a></li>
                <li id="Procesamientos"><a asp-action="Index" asp-controller="Procesamientos">Procesamientos</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <i class="fa fa-gears"></i> Nomencladores
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li id="UnidadDeMedidas"><a asp-action="Index" asp-controller="UnidadDeMedidas">Unidades de Medidas</a></li>
                <li id="Clientes"><a asp-action="Index" asp-controller="Clientes">Clientes</a></li>
                <li id="Categorias"><a asp-action="Index" asp-controller="Categorias">Categorias</a></li>
                <li id="Productos"><a asp-action="Index" asp-controller="Productos">Productos</a></li>
                <li id="TipoDeProducto"><a asp-action="Index" asp-controller="TipoDeProducto">Tipos de Productos</a></li>
                <li id="UEB"><a asp-action="Index" asp-controller="UEB">UEB</a></li>
                <li id="CasaCompras"><a asp-action="Index" asp-controller="CasaCompras">Casas de Compras</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="fa fa-users"></span> Seguridad
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li id="Seguridad"><a asp-action="Usuarios" asp-controller="Seguridad">Usuarios</a></li>
            </ul>
        </li>
    </ul>
</div>
