@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="btn-group-img btn-group">
    @if (SignInManager.IsSignedIn(User))
    {
    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="glyphicon glyphicon-user" style="color:#f9f9f9;"></i>
        <span style="color:#f9f9f9;">@User.Identity.Name</span>
    </button>
        <ul class="dropdown-menu-v2" role="menu">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">Administrar cuenta </a>
            </li>
            <li class="divider"></li>
            @*<li>
                <a href="#">My Inbox <span class="badge badge-info">3</span> </a>
            </li>
            <li>
                <a href="#">My Tasks</a>
            </li>
            <li class="divider"></li>*@            
            <li>
                <a asp-action="LogOut" asp-controller="Seguridad"><i class="fa fa-sign-out"></i>Cerrar Sesi&oacute;n</a>
            </li>
        </ul>
    }
</div>


