@model MateriasPrimaApp.Models.Venta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Editar Venta
                </div>
            </div>
            <div class="portlet-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Fecha" class="control-label"></label>
                                    <input asp-for="Fecha" class="form-control" />
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ClienteId" class="control-label"></label>
                                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UnidadOrganizativaId" class="control-label"></label>
                                    <select asp-for="UnidadOrganizativaId" class="form-control" asp-items="ViewBag.UnidadOrganizativaId"></select>
                                    <span asp-validation-for="UnidadOrganizativaId" class="text-danger"></span>
                                </div>
                              <div class="text-center">
                                  <a asp-action="Index" class="btn btn-info">Atrás</a>
                                  <input type="submit" value="Editar" class="btn yellow" />

                              </div>
</form>
</div>
</div>
</div>
<div class="col-md-2"></div>
</div>

<div>
    
</div>

