@{
    ViewData["Title"] = "Home Page";
    Layout = "_Backend";
}

@if (User.IsInRole("Administrador"))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p style="color:brown; font-size:xx-large">Administración <span style="color:#3e4095;font-size:xx-large">SGCP</span></p>
        </div>
    </div>
}
@if (User.IsInRole("Comercial"))
{
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @ViewData["entradas"]
                    </div>
                    <div class="desc">
                        Entradas por Confirmar
                    </div>
                </div>
                <a class="more" asp-action="Index" asp-controller="Entradas">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @ViewData["transferencias"]
                    </div>
                    <div class="desc">
                       Transferencias por Confirmar
                    </div>
                </div>
                <a class="more" asp-action="Index" asp-controller="Transferencias">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @ViewData["ventas"]
                    </div>
                    <div class="desc">
                        Ventas por Confirmar
                    </div>
                </div>
                <a class="more" asp-action="Index" asp-controller="Ventas">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-recycle"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @ViewData["Procesamientos"]
                    </div>
                    <div class="desc">
                        Procesamientos por Confirmar
                    </div>
                </div>
                <a class="more" asp-action="Index" asp-controller="Procesamientos">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>

}

@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script>
        $('document').ready(function () {
            $('#myDatatable').DataTable({
                "language": {
                    "paginate": {
                        "first": "Primera",
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "last": "&Uacute;ltima"
                    },
                    "info": "Mostrando resultados del _START_ al _END_ de un total de _TOTAL_",
                    "lengthMenu": "Mostrando _MENU_ resultados",
                    "search": "Buscar: ",
                    "infoEmpty": "Mostrando 0 resultados",
                    "infoFiltered": "(filtrado de un total de _MAX_ resultados)",
                    "sZeroRecords": "No se encontraron resultados con este criterio"
                },
                "pagingType": "full_numbers",
                dom: 'Bfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2,]
                        }
                    },
                ]
            });
            $('#cuadrodemando').addClass("open");
        });
    </script>
}