@{
    ViewData["Title"] = "Home Page";
    Layout = "_Backend";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-inbox"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewData["entradas"]
                </div>
                <div class="desc">
                    Entradas por Confirmar
                </div>
            </div>
            <a class="more" asp-action="Index" asp-controller="Entradas">
                Ver más <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-car"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewData["traslados"]
                </div>
                <div class="desc">
                    Traslados por Confirmar
                </div>
            </div>
            <a class="more" asp-action="Index" asp-controller="Traslados">
                Ver más <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    @* @ViewData["entradas"]*@
                </div>
                <div class="desc">
                    New Orders
                </div>
            </div>
            <a class="more" href="javascript:;">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +89%
                </div>
                <div class="desc">
                    Brand Popularity
                </div>
            </div>
            <a class="more" href="javascript:;">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script>
       $('document').ready(function () {
           $('#myDatatable').DataTable({
        "language": {
            "paginate": {
                "first": "Primera",
                "previous": "Anterior",
                "next": "Siguiente",
                "last": "&Uacute;ltima"
},
            "info": "Mostrando resultados del _START_ al _END_ de un total de _TOTAL_",
            "lengthMenu": "Mostrando _MENU_ resultados",
            "search": "Buscar: ",
            "infoEmpty": "Mostrando 0 resultados",
            "infoFiltered": "(filtrado de un total de _MAX_ resultados)",
            "sZeroRecords": "No se encontraron resultados con este criterio"
        },
        "pagingType": "full_numbers",
        dom: 'Bfrtip',
        responsive:true,
        buttons: [
            {
                extend: 'print',
                text: 'Imprimir'
            },
            'excelHtml5',
            'pdf',
            'csv',
            {
                extend: 'copy',
                text: 'Copiar',
                exportOptions: {
                    orthogonal: 'copy'
                }
            }
        ]
    });
      });
    </script>
}