@model MateriasPrimasApp.Models.Transferencia

<label asp-for="DestinoId" class="control-label">Destino</label>
<select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId"></select>
