@model MateriasPrimasApp.Models.Transferencia

<label asp-for="DestinoId" class="control-label">Destino</label>
<select asp-for="DestinoId" class="form-control chosen-select" asp-items="ViewBag.DestinoId"></select>
