@model MateriasPrimaApp.Models.Procesamiento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Editar Procesamiento
                </div>
            </div>
            <div class="portlet-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="ProductoOrigenId" class="control-label">Producto Original</label>
                                    <select asp-for="ProductoOrigenId" class="form-control" asp-items="ViewBag.ProductoOrigenId"></select>
                                    <span asp-validation-for="ProductoOrigenId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CantidadOrigen" class="control-label"></label>
                                    <input asp-for="CantidadOrigen" class="form-control" />
                                    <span asp-validation-for="CantidadOrigen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductoSalidaId" class="control-label">Producto Resultante</label>
                                    <select asp-for="ProductoSalidaId" class="form-control" asp-items="ViewBag.ProductoSalidaId"></select>
                                    <span asp-validation-for="ProductoSalidaId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CantidadSalida" class="control-label"></label>
                                    <input asp-for="CantidadSalida" class="form-control" />
                                    <span asp-validation-for="CantidadSalida" class="text-danger"></span>
                                </div>
                              <div class="text-center">
                                  <a asp-action="Index" class="btn btn-info">Atrás</a>
                                  <input type="submit" value="Editar" class="btn yellow" />

                              </div>
</form>
</div>
</div>
</div>
<div class="col-md-2"></div>
</div>

<div>
    
</div>

        @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
