@model MateriasPrimasApp.Models.Procesamiento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Backend.cshtml";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Editar Procesamiento
                </div>
            </div>
            <div class="portlet-body">
                <br />
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UnidadOrganizativaId" />
                    <div class="form-group">
                        <label asp-for="ProductoId" class="control-label">Materia Prima</label>
                        <select name="ProductoId" id="producto" asp-items="ViewBag.Productos" class="form-control"></select>
                        <span asp-validation-for="ProductoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Cantidad</label>
                        <div class="input-group">
                            <input asp-for="Cantidad" class="form-control">
                            <span class="input-group-addon" id="umresult">
                                <samp class="hint--top um" aria-label="Unidad de Medida">UM</samp>
                            </span>
                        </div>
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="text-center form-group">
                        <a asp-action="Index" class="btn btn-info">Atrás</a>
                        <input type="submit" value="Editar" class="btn yellow" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


